p{
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: font-family: 'Oswald', sans-serif;;
}

.first{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.second{
    text-align: center;
}

.secondd{
    text-decoration: underline;
    text-align: center;
}